.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.9rem;
  width: 100%;
}

.subtotal_gift {
  display: flex;
  align-items: center;
}

.subtotal_gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background: #efc443;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 80%;
  border: 1px solid;
  margin-top: 1em;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  font-size: 0.9rem;
}
